.navbar-brand img {
height: 40px;
margin-left: auto;
}
.nav-item {
padding: 5px 10px;
}
.navbar-collapse {
flex-grow: 1;
justify-content: flex-end;
}
.banner {
display: flex;
background-image:url("../img/12616882-fundo-tecnologia-inteligencia-artificial-mecanica-resumo-digital-vetor.jpg");
align-items: center;
justify-content: center; 
background-color: #f8f9fa; 
padding: 20px; 
margin: 20px 0; 
}
.banner img {
max-width: 500px;
height: auto;
margin-right: 20px;
}

.banner-text {
max-width: 600px;
text-align: center;
}
.top-text {
text-align: center;
font-size: 36px; 
font-weight: bold; 
margin-top: 20px; 
margin-bottom: 20px;
}
.card {
height: 100%;
max-width: 300px;
margin: 0 auto; 
}
.card-img-top {
height: 150px;
object-fit: cover;
}
.card-body {
padding: 15px;
}
.page-title {
text-align: center;
margin: 20px 0; 
font-size: 2rem;
font-weight: bold;
color: #343a40;
}
.content-area {
border: 1px solid black;
padding: 15px; 
margin: 20px auto;
max-width: 600px;
}

footer {
background-color: #f8f9fa;
padding: 20px;
}

h3 {
margin-bottom: 15px;
}
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1020;
    background-color: #343a40;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}
.banner {
    position: relative;
    width: 100%;
    margin: 0;
}